.container {
    display: flex;
    justify-content: center;
    align-items: center;}
h1 {
 text-align: center;
 margin-top: 5px;
}
h2{
    text-align: center;
}
.botao {
    display: block;
    margin-left: 570px;
    margin-right: 10px;
  }
